name: RDP-Via-Ngrok

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0 -Force
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0 -Force
          netsh advfirewall firewall add rule name="RDP" dir=in action=allow protocol=TCP localport=3389

      - name: Create User
        run: |
          $password = "MySafePass123!"  # Aap yaha apna pasand ka password likh dein
          $securePass = ConvertTo-SecureString $password -AsPlainText -Force
          New-LocalUser -Name "RDPUser" -Password $securePass -AccountNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member "RDPUser"

      - name: Download & Setup Ngrok
        run: |
          Invoke-WebRequest https://bin.equinox.io/c/b34edq6jn8A/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
          Expand-Archive ngrok.zip
          ./ngrok/ngrok.exe authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
          Start-Process ./ngrok/ngrok.exe -ArgumentList "tcp 3389"

      - name: Get Connection Address
        run: |
          $tunnels = Invoke-RestMethod http://localhost:4040/api/tunnels
          $address = $tunnels.tunnels.public_url
          Write-Host "=============================="
          Write-Host "CONNECT TO: $address"
          Write-Host "USERNAME: RDPUser"
          Write-Host "PASSWORD: MySafePass123!"
          Write-Host "=============================="
          
          # Keep Alive
          while($true) { Start-Sleep -Seconds 60 }
